---
name: build
on:
  pull_request:
    branches:
      - dev
jobs:
  build:
    strategy:
      matrix:
        go-version: ["1.23", "1.24"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    env:
      GO111MODULE: "on"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Download Go modules
        run: go mod download
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test ./...
